<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	
<bean id="pageCrawler" class="org.training.PageCrawler" init-method="init">
<property name="crawlerPropBn" ref="crawlerPropBn"></property>
</bean>

<bean id="crawlerPropBn" class="org.training.CrawlerPropertiesBn">
<property name="pageUrl" value="http://mail-archives.apache.org/mod_mbox/maven-users/"></property>
<property name="numberOfRetries" value="3"></property>
<property name="resumeFileName" value="resumedownload.txt"></property>
<property name="destination" value="D:\\Crawler\\"></property>
<property name="serializeFileName" value="ListOfUrls.ser"></property>
</bean>

<context:component-scan base-package="org.training" />
</beans>